body{
    padding: 0px;
    margin: 0px;
    background-color: aquamarine;
}
p{
    background-color: blue;
}
#p1{
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 30px;
    padding-left: 50px;
    margin: 30px 20px 50px 100px ;
}
#p2{
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 30px;
    padding-left: 50px;
    margin: 30px 20px 50px 100px ;
}
#p3{
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 30px;
    padding-left: 50px;
    margin: 30px 20px 50px 100px ;
}
#p3{
    width: 300px;
  border: 3px solid black;
  margin: 50px;
  padding: 30px;
  outline: 7px solid red;
  outline-offset: 7px;
  

}
